version: "3.8"

services:
  # Adminer is a lightweight, web-based database management tool.
  # It provides a simple UI for managing databases (like PostgreSQL, MySQL, etc.) running in your Docker environment.
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - go-network

  postgresdb:
    image: pgvector/pgvector:pg16
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      timeout: 20s
      retries: 10
    ports:
      - ${DB_PORT}:5432
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - dbdata:/var/lib/postgresql/data
      - ./src/database/init:/docker-entrypoint-initdb.d
    networks:
      - go-network

  go-app:
    build: .
    image: go-app
    ports:
      - ${APP_PORT}:8000
    depends_on:
      postgresdb:
        condition: service_healthy
    volumes:
      - .:/usr/src/go-app
    restart: on-failure
    env_file:
      - .env
    networks:
      - go-network
    healthcheck:
      test: ["CMD", "curl", "-f", "${APP_URL}/v1/hello"]
      interval: 40s
      timeout: 30s
      retries: 3
      start_period: 30s

volumes:
  dbdata:

networks:
  go-network:
    driver: bridge
