@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-light: var(--sidebar-light);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-brand-1: var(--brand-1);
  --color-brand-2: var(--brand-2);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Shadows */
  --shadow-sm: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.05) 0px 2px 4px -2px;

  --shadow-md: rgba(0, 0, 0, 0.09) 0px 6px 12px -2px, rgba(0, 0, 0, 0.03) 0px 3px 6px -2px;

  --shadow-lg: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  --shadow-xl: rgba(0, 0, 0, 0.13) 0px 32px 48px -8px, rgba(0, 0, 0, 0.07) 0px 20px 16px -8px;
}

:root {
  --font-inter: "Inter", sans-serif;
  font-family: var(--font-inter);
  --radius: 0.75rem;
  --background: oklch(0.997 0 0);
  --foreground: oklch(0.355 0 0);
  --card: oklch(0.997 0 0);
  --card-foreground: oklch(0.355 0 0);
  --popover: oklch(0.997 0 0);
  --popover-foreground: oklch(0.355 0 0);
  /* --primary: oklch(0.355 0 0); */
  --primary: oklch(0.581 0.173 294);
  --primary-foreground: oklch(0.985 0 0);
  --brand-1: oklch(0.581 0.173 294);
  --brand-2: oklch(0.608 0.184 329);
  --secondary: oklch(0.9555 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.926 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.593 0.211 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  /* --sidebar: oklch(0.977 0.029 299); */
  /* --sidebar: oklch(0.997 0 0); */
  --sidebar: oklch(0.945 0.029 299);
  --sidebar-light: oklch(0.977 0.029 299);
  --sidebar-foreground: oklch(0.355 0 0);
  --sidebar-primary: oklch(0.503 0.204 291);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.911 0.029 299);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.945 0.029 299);
  /* --sidebar-border: oklch(0.997 0 0); */
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply cursor-pointer;
  }
}

/* Custom Scrollbar Styles */

* {
  scrollbar-width: thin;
  scrollbar-color: #cccccc transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
  width: 12px;
}

/* Keyframes from tailwind.config.ts */

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes collapsible-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes collapsible-up {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes scale-pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.12);
  }
}

@keyframes bounceY1 {
  0% {
    transform: translate(100%, -50%) translateY(0);
  }
  50% {
    transform: translate(100%, -50%) translateY(60px);
  }
  100% {
    transform: translate(100%, -50%) translateY(0);
  }
}

@keyframes bounceY1-sm {
  0% {
    transform: translate(50%, -50%) translateY(0);
  }
  50% {
    transform: translate(50%, -50%) translateY(60px);
  }
  100% {
    transform: translate(50%, -50%) translateY(0);
  }
}

@keyframes bounceY2 {
  0% {
    transform: translate(-100%, 50%) translateY(0);
  }
  50% {
    transform: translate(-100%, 50%) translateY(-60px);
  }
  100% {
    transform: translate(-100%, 50%) translateY(0);
  }
}

@keyframes bounceY2-sm {
  0% {
    transform: translate(-50%, 50%) translateY(0);
  }
  50% {
    transform: translate(-50%, 50%) translateY(-60px);
  }
  100% {
    transform: translate(-50%, 50%) translateY(0);
  }
}

/* Blob animation classes */
.animate-blob-1 {
  animation: bounceY1 6s ease-in-out infinite;
}

@media (min-width: 640px) {
  .animate-blob-1 {
    animation: bounceY1-sm 6s ease-in-out infinite;
  }
}

.animate-blob-2 {
  animation: bounceY2 6s ease-in-out infinite;
}

@media (min-width: 640px) {
  .animate-blob-2 {
    animation: bounceY2-sm 6s ease-in-out infinite;
  }
}

/* Animation classes */
.animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}

.animate-collapsible-down {
  animation: collapsible-down 0.2s ease-out;
}

.animate-collapsible-up {
  animation: collapsible-up 0.2s ease-out;
}

.animate-scale-pulse {
  animation: scale-pulse 1.3s linear infinite;
}

/* Scrollbar Hide Utility */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
